@font-face
    font-family: 'inkline'
    src: url(--inkline-font-path + 'inkline.eot?kszcvl')
    src: url(--inkline-font-path + 'inkline.eot?kszcvl#iefix') format('embedded-opentype'), url(--inkline-font-path + 'inkline.ttf?kszcvl') format('truetype'), url(--inkline-font-path + 'inkline.woff?kszcvl') format('woff')
    font-weight: normal
    font-style: normal

.icon
    -icon()

.icon.-circle
    &::before
        content: --icon-circle
.icon.-home
    &::before
        content: --icon-home
.icon.-calendar
    &::before
        content: --icon-calendar
.icon.-warning
    &::before
        content: --icon-warning
.icon.-danger
    &::before
        content: --icon-danger
.icon.-plus
    &::before
        content: --icon-plus
.icon.-minus
    &::before
        content: --icon-minus
.icon.-info
    &::before
        content: --icon-info
.icon.-times
    &::before
        content: --icon-times
.icon.-check
    &::before
        content: --icon-check
.icon.-caret-down
    &::before
        content: --icon-caret-down
.icon.-chevron-down
    &::before
        content: --icon-chevron-down
.icon.-sort
    &::before
        content: --icon-sort
.icon.-sort-asc
    &::before
        content: --icon-sort-asc
.icon.-sort-desc
    &::before
        content: --icon-sort-desc

