//
// Datatables
//

--datatable-cell-padding := .75rem
--datatable-cell-padding-sm := .3rem

--datatable-border-width := --border-width
--datatable-border-color := --border-color

//
// Enable datatable transitions
//
--transition-datatable := true
--transition['datatable'] = --transition-datatable

//
// Variants
//
--datatable-variants := (monochrome-white)
--datatable-variant-color-light := --variant-color-light
--datatable-variant-color-dark := --variant-color-dark


--variants['datatable'] = -add-variant(--datatable-variants, { color: --color-groups })
