<div class="table-wrapper" :class="classes['wrapper']">
    <table class="datatable" :class="classes['root']">
        <thead>
            <tr class="dtr">
                <th v-for="(column, index) in tableColumns" :key="index" @click="onHeaderCellClick(column)">
                    <div class="dth" :class="columnClass(column)">
                        {{column.title}}
                        <i v-if="column.sortable"
                           class="icon"
                           :class="[ sortBy !== column.key ? '-sort' : `-sort-${sortDirection}` ]"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="dtr" :class="rowClass(row)" v-for="(row, rowIndex) in tableRows" :key="row.id">
                <slot name="row" :row="tableRowsRendered[rowIndex]" :data="row" :index="rowIndex">
                    <td v-for="(column, columnIndex) in tableColumns" :key="columnIndex">
                        <div class="dtd" :class="columnClass(column, row)"
                             v-if="column.type !== 'component'">
                            {{tableRowsRendered[rowIndex][column.key]}}
                        </div>
                        <div class="dtd" v-else :is="column.component" :data="row"></div>
                    </td>
                </slot>
            </tr>
        </tbody>
    </table>
</div>
